.arrow-icon {
	cursor: pointer;
	display: inline-block;
	position: relative;
	width: 20px;
	height: 4px;
	background-color: rgba(#fff, 0);
	
	/* these are the upper and lower lines in the menu icon */
	&::before, &:after {
		content: '';
		width: 100%;
		height: 100%; 
		position: absolute;
		background-color: $skar-green;
		right: 0;
		@include transition(all 0.3s ease-in-out);

		/*-webkit-transition: -webkit-transform .3s, top .3s, background-color 0s;
		-moz-transition: -moz-transform .3s, top .3s, background-color 0s;
		transition: transform .3s, top .3s, background-color 0s;*/
	}
	
	&::before {
		@include transform(skewY(20deg) translateX(-50%));
	}

	&::after {
		@include transform(skewY(340deg) translateX(50%));
	}

	&.is-clicked {
		width: 30px;
		height: 6px;

		&::before {
			@include transform(rotate(135deg) translateX(0));
		}

		&::after {
			@include transform(rotate(225deg) translateX(0));
		}
	}
}

.return-to-top {
    position: fixed;
    right: 50px;
    bottom: 36px;
    z-index: 999;

    #alt-arrow {
    	height: 50px;
      	width: auto;
      	@include transform(rotate(180deg));
      	
      	.cls-1 {
        	fill: #593170;
      	}
    }
}

body.page-template-template-what-we-do {

	.return-to-top {

		#alt-arrow {

			.cls-1 {
				fill: $skar-green;
			}
		}
	}
}