@font-face {
    font-family: 'slick';
    src: url('../fonts/slick.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gotham';
    src: url('../fonts/GOTHAM-BLACK.TTF') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'gotham';
    src: url('../fonts/GOTHAM-BLACKITALIC.TTF') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'gotham';
    src: url('../fonts/GOTHAM-BOLD.TTF') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'gotham';
    src: url('../fonts/GOTHAM-BOLDITALIC.TTF') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'gotham';
    src: url('../fonts/GOTHAM-LIGHT.TTF') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'gotham';
    src: url('../fonts/GOTHAM-LIGHTITALIC.TTF') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'gotham';
    src: url('../fonts/GOTHAM-MEDIUM.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gotham';
    src: url('../fonts/GOTHAM-MEDIUMITALIC.TTF') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'gotham';
    src: url('../fonts/GOTHAM-THIN.TTF') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'gotham';
    src: url('../fonts/GOTHAM-THINITALIC.TTF') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'gotham';
    src: url('../fonts/GOTHAM-XLIGHT.TTF') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'gotham';
    src: url('../fonts/GOTHAM-XLIGHTITALIC.TTF') format('truetype');
    font-weight: 100;
    font-style: italic;
}