// Search form
.search-form {
  @extend .form-inline;
}
.search-form label {
  font-weight: normal;
  @extend .form-group;
}
.search-form .search-field {
  @extend .form-control;
}
.search-form .search-submit {
  @extend .btn;
  @extend .btn-default;
}

.wpcf7 {

	.name-fields {
		width: 100%;
		max-width: 100%;

		@include MQ(MS) {
			float: left;
			width: 50%;

			&:nth-of-type(2) {
				margin-left: 30px;
				width: calc(50% - 30px);
			}
		}
	}

	form {

		span {

			input, textarea {
				max-width: 100%;
				width: 100%;
			}
		}
	}
}


