html {
	overflow-x: auto;
}

body {

	overflow-x: hidden;
	font-family: $primary-font;
	font-weight: normal;

	.main {
		padding-right: 0;
	}

	a {
		color: $skar-gray;
		text-decoration: none;
	
		&:hover {
			color: $skar-purple;
			text-decoration: none;
		}
	}
}
