html {
	max-width: 100vw;
	overflow-x: hidden;
}

body {

	overflow-x: hidden;
	font-family: $primary-font;
	font-weight: normal;

	.wrap {

		.content {
			margin-left: 0;
			margin-right: 0;

			.main {
				overflow-x: hidden;
				padding-left: 0;
				padding-right: 0;
				max-width: 100vw;

				.row {
					margin-right: 0;
					margin-left: 0;
				}
			}
		}
	}

	a {
		color: $skar-gray;
		text-decoration: none;
	
		&:hover, &:focus, &:active, &:visited {
			color: $skar-purple;
			text-decoration: none;
		}
	}

	#post-12176 {

		.campaign-label {

			.campaign-title {
				width: 100%;

				h1 {
					text-align: center;
				}
			}

			.campaign-description {
				width: 100%;
			}
		}
	}

	.modal.in .modal-dialog {
		@include transform(translateY(50%));
	}
}
