body {

	overflow-x: hidden;
	font-family: $primary-font;
	font-weight: normal;

	.row {
		margin-left: 0;
		margin-left: 0;
	}

	.main {
		//padding-right: 0;
		overflow-x: hidden;
		padding-left: 0;
		padding-right: 0;
		max-width: 100vw;
	}

	a {
		color: $skar-gray;
		text-decoration: none;
	
		&:hover, &:focus, &:active, &:visited {
			color: $skar-purple;
			text-decoration: none;
		}
	}

	#post-12176 {

		.campaign-label {

			.campaign-title {
				width: 100%;

				h1 {
					text-align: center;
				}
			}

			.campaign-description {
				width: 100%;
			}
		}
	}
}
