footer.content-info {
	height: 200px;
	position: relative;

	.footer-content {
		padding: 0;
		height: 100%;
		//@include background(radial-gradient(50% 139.81%, circle farthest-side, rgba(110, 78, 137, 1) 0%, rgba(52, 19, 69, 1) 100%));
		@include background(radial-gradient(rgba(110, 78, 137, 1) 0%, rgba(52, 19, 69, 1) 100%));

		.brand {
			position: relative;

			#skar-logo {
				display: block;
				width: 150px;
				margin: 30px auto;
				.skarl {
					fill: #fff;
				}

				@media only screen and (min-width: 525px) {
					margin: 30px 0 0 30px;
				}
			}
		}

		.social-container {
			list-style-type: none;
			position: relative;
			display: block;
			margin: 0 auto;
			text-align: center;
			padding: 0;

			li {
				display: inline;
				margin: 0 10px;
				
				img {
					height: 40px;
					width: auto;
				}
			}
		}
	}
}