.careers-container {
	margin-top: $header-height-S;
	min-height: calc(100vh - 280px);

	@include MQ(M) {
		margin-top: $header-height-M;
	}

	.careers-section {
		margin-top: 3em;

		.left-side {
			margin-bottom: 3em;

			@media only screen and (max-width: 499px) {

				div {
					width: 100%;

					&.careers-label {
						
						h3 {
							float: none;
							text-align: center;
						}
					}
				}
			}

			.careers-label {
				h3 {
					font-size: 45px;
					font-weight: 700;
					text-transform: uppercase;
					float: left;
					margin-top: 0; 
					color: #6d6e71;
					z-index: 1;

					@include MQ(M) {
						float: right;
					}
				}
			}

			.left-image {
				margin-top: 0;

				@include MQ(M) {
					margin-top: 3em;
				}

				#big-skar {
					max-width: 75%;
					margin: 0 auto;
					position: relative;
					display: block;
					
					.cls-1,.cls-2 ,.cls-3, .cls-4 {
						fill: $skar-purple;
					}
				}
			}
		}

		.careers-content-wrapper {
			padding: 0 15px;

			@include MQ(M) {
				padding: 0 60px 0 15px;
			}
 
			.careers-content {

				p {
					font-size: 14px;
					font-weight: 300;
					line-height: 1.2;
					color: #6d6e71;
					margin-bottom: 1em;

					@include MQ(M) {
						font-size: 16px;
					}

					&.not-hiring {
						font-weight: 500;
						line-height: 1.2;
						color: $skar-black;
						margin-bottom: 1em;
					}
				}
			}

			.careers-contact {
				margin-top: 3em;

				.skar-map {
					padding: 15px;
					border: 1px solid #b1b1b2;

					&:after, &:before {
						content:""; 
						background: #fff; 
						position: absolute;  
						left: 0; 
						right: 0;
						height: 4px; 
						width: 30%;
						margin: 0 auto;
					}
					
					&:before {
						top: -2px;
					}

					&:after {
						bottom: -2px;
					}

					#wpgmza_map {
						opacity: 0.6;
					}
				}

				.address, .social {
					margin-top: 3em;
					margin-bottom: 2em;
					padding-left: 0;

					@media only screen and (max-width: 355px) {
						width: 100%;
						text-align: center;
					}
				}

				.address {

					p {
						margin: 0;
						line-height: 1.2;
						font-size: 14px;
						color: #6d6e71;

						@include MQ(M) {
							font-size: 18px;
						}
					}
				}

				.social {

					ul {
						list-style-type: none;
						padding: 0;
						float: right;

						@media only screen and (max-width: 355px) {
							float: none;
						}

						li {
							display: inline-block;
							margin-right: 1em;

							@include MQ(M) {
								margin-right: 2em;
							}

							img {
								height: 35px;
								width: auto;
								display: block;

								@include MQ(L) {
									height: 50px;
								}
							}

							&:last-of-type {
								margin-right: 0;
							}
						}
					}
				}
			}
		}
	}
}

body.internships {
	.careers-container .careers-section .left-side div {
		@media only screen and (max-width: 680px) {
			width: 100%;

			&.careers-label {
						
				h3 {
					float: none;
					text-align: center;
				}
			}
		}
	}
}
