.category-archive-container {
	margin-top: 80px;
	padding: 0;

	h1.category-page-title {
		text-align: center;
		font-size: 38px;
		font-weight: 700;

		span {
			color: #593171;

			&:first-of-type {
				color: #a7a9ac;
			}
		}
	}

	.other-categories {

		ul {

			li {
				text-align: center;

				a {
					font-size: 24px;
					font-weight: 300;

					span {
						color: #593171;

						&:last-of-type {
							color: #a7a9ac;
						}
					}
				}
			}
		}
	}

	.category-posts-container {
		display: flex;
		flex-wrap: wrap;
		display: -webkit-flex;
		-webkit-flex-wrap: wrap;
		padding: 0;

		.category-post {
			padding: 0;
			margin-bottom: 20px;

			@include MQ(M) {

				&:nth-of-type(odd) {
					padding-right: 10px;
				}

				&:nth-of-type(even) {
					padding-left: 10px;
				}
			}

			.post-img-container {
				padding: 0;

				img {
					width: 100%;
				}
			}
			

			.post-title {
				position: absolute;
				bottom: 0;
				padding: 0;
				height: 50%;
				background: rgba(88, 89, 91, 0.9);

				@include MQ(M) {
					width: calc(100% - 10px);
				}

				h1 {
					font-size: 38px;
					font-weight: 700;
					text-align: center;
					@include vertical-align();
					margin: 0;

					a {
						color: #fff;
					}
				}
			}
		}
	}

	.navigation {

		p {
			text-align: center;
			font-size: 28px;
			font-weight: 300;
			color: $skar-black;
		}
	}
}