.in-touch-container {
	margin-top: $header-height-S;

	@include MQ(M) {
		margin-top: $header-height-M;
	}

	.in-touch-section {

		.in-touch-label {
			width: 100%;
			max-width: 1400px;
			margin-right: auto;
			margin-left: auto;
			margin-bottom: 40px;

			h2 {
				padding: 0 15px;
				font-weight: 700;
				font-size: 36px;

				@include MQ(M) {
					font-size: 45px;
				}

				span:nth-of-type(1) {
					color: $skar-gray;
				}

				span:nth-of-type(2) {
					color: $skar-purple;
				}
			}

		}

		.in-touch-content-wrapper {
			width: 100%;
			max-width: 1550px;
			margin-right: auto;
			margin-left: auto;

			.in-touch-image-lg {
				display: none;

				@include MQ(M) {
					display: block;
				}

			}

			.in-touch-content {

				.tag-line {
					font-size: 20px;
					line-height: 1.2;
					color: #6d6e71;
					margin-bottom: 30px;

					@include MQ(M) {
						font-size: 24px;
					} 
				}

				.main-content-area {
					font-size: 14px;
					font-weight: 300;
					line-height: 1.2;
					color: #6d6e71;
					margin-bottom: 45px;

					@include MQ(M) {
						font-size: 18px;
					}
				}

				.skar-map {
					padding: 15px;
					border: 1px solid #b1b1b2;

					&:after, &:before {
						content:""; 
						background: #fff; 
						position: absolute;  
						left: 0; 
						right: 0;
						height: 4px; 
						width: 30%;
						margin: 0 auto;
					}
					
					&:before {
						top: -2px;
					}

					&:after {
						bottom: -2px;
					}

					#wpgmza_map {
						opacity: 0.6;
					}
				}

				.address, .social {
					margin-top: 3em;
					margin-bottom: 2em;
					padding-left: 0;

					@media only screen and (max-width: 355px) {
						width: 100%;
						text-align: center;
					}
				}

				.address {

					p {
						margin: 0;
						line-height: 1.2;
						font-size: 14px;
						color: #6d6e71;

						@include MQ(M) {
							font-size: 18px;
						}
					}
				}

				.social {

					ul {
						list-style-type: none;
						padding: 0;
						float: right;

						@media only screen and (max-width: 355px) {
							float: none;
						}

						li {
							display: inline-block;
							margin-right: 1em;

							@include MQ(M) {
								margin-right: 2em;
							}

							img {
								height: 35px;
								width: auto;
								display: block;

								@include MQ(L) {
									height: 50px;
								}
							}

							&:last-of-type {
								margin-right: 0;
							}
						}
					}
				}
			}

			.in-touch-image-sm {

				@include MQ(M) {
					display: none;
				}
			}
		}
	}
}