body.home {

	.main {

		.row {
			margin-left: 0;
			margin-right: 0;
		}
	}

	.onepage-pagination li a {
		color: $skar-green;
	}

	.onepage-pagination li a:before {
  		background: $skar-green;
  		height: 8px;
  		width: 8px;
	}

	.onepage-pagination li a.active:before {
  		width: 16px;
  		height: 16px;
  		border: 2px solid $skar-green;
  		left: 6px;
  		background: transparent;
	}

	@include reveal(reveal-down, -100%);

	@include keyframes(altOpacity) {
		0% {
			opacity: 0.4;
		}

		20% {
			opacity: 0.4;
		}

		23% {
			opacity: 0.4;
		}

		26% {
			opacity: 0.4;
		}
	}

	.home-section:nth-of-type(1) {
		float: left;
		width: 100vw;
		height: 100vh;
		position: relative;
	}

	.home-section:nth-of-type(n+2) {
		position: relative;
		float: left;
		height: 100%;
		width: 100%;

		@media only screen and (min-width: 992px) {
			width: 100vw;
			height: 100vh;
		}
	}

	.intro {
		position: relative;
		width: 100%;
		/* vertically align its content */
		display: table;
		background: #56336f;
		overflow: hidden;
	}

	.intro-content {
		/* vertically align inside its parent */
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		@include font-smoothing;
		@include background(radial-gradient(#56336f 40%, #2f0e3f 80%));

		.action-wrapper {
		    @include clearfix;
		    display: inline-block;
		 }

		 .skar-home-bg {
		    position: absolute;
		    height: 100%;
		    width: 100%;
		    top: 0;
		    left: 0;
		    //opacity: 0.4;
		    mix-blend-mode: color-burn;

		    .row {
		      	opacity: 0.4;
		    
				&.bg-row-00 {
					@include animation(altOpacity 9s ease-in-out 0.05s infinite alternate);
					img.slideInLeft {
						@include animation-delay(00ms);
					}
				}
				&.bg-row-01 {
					@include animation(altOpacity 9s ease-in-out 0.1s infinite alternate);
					img.slideInRight {
						@include animation-delay(50ms);
					}
				}
				&.bg-row-02 {
					@include animation(altOpacity 9s ease-in-out 0.15s infinite alternate);
					img.slideInLeft {
						@include animation-delay(100ms);
					}
				}
				&.bg-row-03 {
					@include animation(altOpacity 9s ease-in-out 0.2s infinite alternate);
					img.slideInRight {
						@include animation-delay(150ms);
					}
				}
				&.bg-row-04 {
					@include animation(altOpacity 9s ease-in-out 0.25s infinite alternate);
					img.slideInLeft {
						@include animation-delay(200ms);
					}
				}
				&.bg-row-05 {
					@include animation(altOpacity 9s ease-in-out 0.3s infinite alternate);
					img.slideInRight {
						@include animation-delay(250ms);
					}
				}
				&.bg-row-06 {
					@include animation(altOpacity 9s ease-in-out 0.35s infinite alternate);
					img.slideInLeft {
						@include animation-delay(300ms);
					}
				}
				&.bg-row-07 {
					@include animation(altOpacity 9s ease-in-out 0.4s infinite alternate);
					img.slideInRight {
						@include animation-delay(350ms);
					}
				}
				&.bg-row-08 {
					@include animation(altOpacity 9s ease-in-out 0.45s infinite alternate);
					img.slideInLeft {
						@include animation-delay(400ms);
					}
				}
				&.bg-row-09 {
					@include animation(altOpacity 9s ease-in-out 0.5s infinite alternate);
					img.slideInRight {
						@include animation-delay(450ms);
					}
				}
				&.bg-row-10 {
					@include animation(altOpacity 9s ease-in-out 0.55s infinite alternate);
					img.slideInLeft {
						@include animation-delay(500ms);
					}
				}
				&.bg-row-11 {
					@include animation(altOpacity 9s ease-in-out 0.6s infinite alternate);
					img.slideInRight {
						@include animation-delay(550ms);
					}
				}
				&.bg-row-12 {
					@include animation(altOpacity 9s ease-in-out 0.65s infinite alternate);
					img.slideInLeft {
						@include animation-delay(600ms);
					}
				}
				&.bg-row-13 {
					@include animation(altOpacity 9s ease-in-out 0.7s infinite alternate);
					img.slideInRight {
						@include animation-delay(650ms);
					}
				}
				&.bg-row-14 {
					@include animation(altOpacity 9s ease-in-out 0.75s infinite alternate);
					img.slideInLeft {
						@include animation-delay(700ms);
					}
				}
				&.bg-row-15 {
					@include animation(altOpacity 9s ease-in-out 0.8s infinite alternate);
					img.slideInRight {
						@include animation-delay(750ms);
					}
				}
				&.bg-row-16 {
					@include animation(altOpacity 9s ease-in-out 0.85s infinite alternate);
					img.slideInLeft {
						@include animation-delay(800ms);
					}
				}
				&.bg-row-17 {
					@include animation(altOpacity 9s ease-in-out 1.9s infinite alternate);
					img.slideInRight {
						@include animation-delay(850ms);
					}
				}

				img {
					height: calc(100vh / 18);
					width: auto;
					display: block;
					overflow: hidden;
					margin: 0 auto;

					@include MQ(M) {
						width: 100%;
						height: auto;
					}
				}
		    }
		}

		span, p {
			opacity: 0;
    		@include animation-duration(.8s);
    		@include animation-delay(.3s);
    		@include animation-fill-mode(forwards);
    		color: #fff;

    		.no-cssanimations & {
     			opacity: 1;
    		}
		}
	}

	.big-skar-container {
		margin: 0 auto;
		float: none;
	}

	.mask.intro-content .big-skar {
  	/* overwrite default style */
  		opacity: 1;
  		margin: 0 auto;
	}

	.action-container {
  		position: absolute;
  		left: 0;
  		right: 0;
  		bottom: 20px;
	}

	.action-wrapper p {
  		position: relative;
  		margin: 0;
  		@include animation-name(reveal-down);
  		font-size: 28px;
  		font-family: 'gotham', Arial, Helvetica, sans-serif;
  		font-weight: 300;
	}

	.mask.intro-content span::after,
	.mask.intro-content .action-wrapper p {
  		@include animation-duration(1s);
  		@include animation-delay(1s);
	}

	.mask.intro-content .action-wrapper {
  		overflow: hidden;
	}

	.two {

  		.row-eq-height {

  			.section-2-div-1 {
   	 			position: relative;
    			height: 100%;
    			padding-left: 0;
    			display: none;

    			@include MQ(M) {
      				display: block;
    			}
  			}

  			.section-2-div-2 {
			    
			    .headline-content, .main-page-content {
			      	padding: 0;

			      	@include MQ(M) {
			        	padding: 15px 15px 0 0;
			      	}

			      	@include MQ(L) {
			        	padding-top: 75px;
			      	}
			    }

			    .headline-content {

			      	p {
			        	font-size: 45px;
				        font-weight: 700;
				        color: #58595b;
				        margin: 10px auto;
				        text-align: center;
				        padding: 10px;
				        line-height: 1;
				        background: #fff;
				        padding: 5px;
				        display: inline-block;
				          	
			        	&:nth-of-type(2) {
		            		color: $skar-purple;
		            		text-transform: uppercase;
		          		}

			        	@include MQ(M) {
			          		font-size: 3.75vw;
			          		margin: 0;
			          		text-align: left;
			          		display: block;
			        	}
			      	}
			    }

			    .main-page-content {

			      	p {
				        font-size: 17px;
				        font-weight: 300;
				        color: #58595b;
				        background: #fff;
				        padding: 10px;
			      	}	
			    	
			    	.paper-airplane {
				    	width: 125px;
				    	height: 125px;
				    	background: #ffd24f;

				    	img {
				    		margin: 0 auto;
				    		width: 80%;
				    		@include vertical-align();
				    	}
				    }
			    }
			}
  		}
	}

	.three {
  		position: relative;
  		height: 100%;

  		.section-3-top, .section-3-bottom {
    		position: relative;
    		float: left;
    		width: 100%;
  		}

  		.section-3-top {
    		height: 100%;
    		background: #fff;

    		@include MQ(L) {
     			height: 60vh;
    		}

    		.case-history, .recent-article, .featured-work {
      			padding: 0;
      			height: 100%;

      			.inner-content {
			        position: relative;
			        margin: 15px auto;
			        padding: 0 15px;
			        max-width: 430px;
			        height: 480px;
			        max-height: 100%;

        			@include MQ(L) {
          				margin: 0 auto;
          				@include vertical-align();
        			}

        			div:nth-of-type(1) {

          				p {
				            font-family: 'gotham', Helvetica, sans-serif;
				            line-height: 1;
          				}

          				p:nth-of-type(1) {
            				font-size: 18px;
            				text-transform: uppercase;
            				font-weight: 700;
          				}

          				.inner-content-title {
            				height: 150px;

            				p {
              					font-size: 49px;
              					font-weight: 700;
              					text-transform: none;
            				}
          				}
        			}

        			div:nth-of-type(2) {
          				p {
            				font-family: 'gotham', Helvetica, sans-serif;
				            line-height: 1.2;
				            font-size: 14px;
				            font-weight: 300;
				            color: #414042;
          				}

          				@include MQ(L) {
            				margin-top: 40px;
            				font-size: 17px;
          				}
        			}

        			div:nth-of-type(3) {
          				position: absolute;
          				bottom: 0;
          				left: 0;
          				right: 0;
          				text-align: center;

          				span {

            				#alt-arrow {
              					@include transform(rotate(270deg));
              					width: 50px;
            				}
          				}
        			}
      			}
    		}

    		.case-history {
      			background: #e6e7e8;

      			.inner-content {

        			div:nth-of-type(1) {
          
          				p:nth-of-type(1) {
            				color: #d1d3d4;
          				}

	          			.inner-content-title {

	            			p {

	              				span:nth-of-type(1) {
	                				color: #58595b;
	              				}

	              				span:nth-of-type(2) {
	                				color: $skar-green;
	              				}
	            			}
	          			}
        			}

        			div:nth-of-type(2) {}

        			div:nth-of-type(3) {

          				span {

            				#alt-arrow {
            					width: 50px;

              					.cls-1 {
                					fill: $skar-green;
              					}
            				}
          				}
        			}
      			}
    		}

    		.recent-article {
      			background: #a7a9ac;

      			.inner-content {

        			div:nth-of-type(1) {
          
          				p:nth-of-type(1) {
            				color: #939598;
          				}

          				.inner-content-title {

            				a {

              					p {
                					color: #593171;
                					font-size: 45px;

                					&::first-line {
                  						color: #58595b;
                					}
              					}
            				}
          				}
        			}
        
        			div:nth-of-type(3) {

          				span {

            				#alt-arrow {

              					.cls-1 {
                					fill: #593170;
              					}
            				}
          				}
        			}
      			}
    		}

    		.featured-work {
      			background-size: cover;

      			.inner-content {
        
        			div:nth-of-type(1) {

          				p:nth-of-type(1) {
            				color: #58595b;
          				}

          				.inner-content-title {

            				p {
              
              					span:nth-of-type(1) {
                
                					a {
                						color: #fff;
                					}
              					}

              					span:nth-of-type(2) {
                
                					a {
                						color: $skar-green;
                					}
              					}
            				}
          				}
        			}
        			
        			div:nth-of-type(3) {}
      			}
    		}
  		}

  		.section-3-bottom {
		    background: $skar-green;
		    height: 480px;

		    @include MQ(L) {
		      	height: 40vh;
		    }
   
    
    		.container {
      			position: absolute;
      			left: 0;
      			right: 0;
      			max-width: 900px;
      			height: 100%;

      			.row {
			        position: absolute;
			        top: 50%;
			        @include transform(translateY(-50%));

			        .logo-img-container {
			          	padding: 20px;
			          	max-height: 86px;

			          	img {
			          		@include vertical-align();
			          		width: 90px;
			          	}

			          	@media only screen and (min-width: 585px) {
			          		padding: 20px 40px;
			          	}

			          	@media only screen and (min-width: 992px) {
			           		padding: 10px 40px;
			           		max-height: 100%;
			          	}
			        }
      			}
    		}      
  		}
	}
}

