.industry-featured-work-container {
	padding: 0;

	.work-wrapper {
		height: 660px;

		&.work-one {

			.work-one-content {
				margin: 4.5em 0 0 0;

				@include MQ(M) {
					margin: 4.5em 0 0 4em;
				}

				h1 {
					margin: 0;
				
					a {
						color: #fff;
						font-size: 45px;
						font-weight: 700;
						background: rgba(88, 89, 91, 0.4);
						padding: 4px;
					}
				}
			}
		}

		&.work-two {
			background-color: $skar-green;

			.img-container {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				height: 100%;
				width: 100%;

				img {
					position: absolute;
					bottom: 0;
					width: 100%;
				}

				@media only screen and (min-width:610px) and (max-width: 991px) {
					height: 66.667%;
					width: 66.667%;
					margin: 0 auto;
					top: 33.333%;
				}
			}

			.work-two-content {
				padding: 2.5em;

				h1 {
					margin: 0;
					line-height: 0.9;

					a {
						font-weight: 700;
						font-size: 45px;
						color: $skar-purple;
					}

					&:first-of-type {
						
						a {
							color: $skar-gray;
						}
					}
				}
			}
		}

		&.work-three {
			
		}

		&.work-four {
			background: #bcbec0;

			.work-four-wrapper {
				padding: 1em;

				@include MQ(M) {
					padding: 2em;
				}

				@include MQ(LL) {
					padding: 3em;
				}

				h1 {
					margin: 0;
					line-height: 0.9;
					
					a {
						font-size: 36px;
						font-weight: 700;
						color: $skar-purple;
						line-height: 1;
					}

					&:first-of-type {
						a {
							color: $skar-gray;
						}
					}

					@include MQ(M) {
						font-size: 40px;
					}

					@include MQ(LL) {
						font-size: 45px;
					}
				}

				.blog-post-excerpt {
					margin-top: 2em;
					padding: 0;

					p {
						font-size: 14px;
						font-weight: 300;
						line-height: 1.2;
						color: $skar-gray;
					}

					@include MQ(M) {
						margin-top: 1em;

						p {
							font-size: 16px;
						}
					}

					@include MQ(LL) {

						p {
							font-size: 18px;
						}
					}

					@include MQ(L) {
						margin-top: 3em;
					}
				}
			}
		}

		&.work-five {
			
		}
	}
}

.more-posts {
	margin: 4em 0;

	p {
		text-align: center;

		a {
			font-size: 36px;
			font-weight: 700;

			@include MQ(MS) {
				font-size: 45px;
			}
		}
	}
}

body.nonprofit, body.health-care, body.retail {

	.industry-featured-work-container .work-wrapper.work-two {
		background: #ffd24f;
	}
}

body.finance {
	.industry-featured-work-container .work-wrapper.work-two {
		background: #fff;
	}
}
