.industry-featured-work-container {
	padding: 0;

	.work-wrapper {
		overflow: hidden;
		padding-bottom: 1em;

		@include MQ(L) {
			height: 550px;
		}

		&.work-one {
			height: 550px;

			.work-one-content {
				margin: 4.5em 0 0 0;

				@include MQ(M) {
					margin: 4.5em 0 0 4em;
				}

				h1 {
					margin: 0;
					line-height: 1.11;
				
					a {
						color: #fff;
						font-size: 38px;
						font-weight: 700;
						
						padding: 4px;
					}
				}
			}
		}

		&.work-two {
			background-color: $skar-green;
			padding: 0;

			.img-container {
				position: relative;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				height: 100%;
				width: 100%;

				img {
					position: relative;
					bottom: 0;
					width: 100%;

					@include MQ(L) {
						position: absolute;
					}
				}

				@include MQ(L) {
					position: absolute;
				}
			}

			.work-two-content {
				padding: 2.5em;
				z-index: 1;

				@include MQ(L) {
					padding: 1.5em;
				}

				@include MQ(LL) {
					padding: 2.5em;
				}

				h1 {
					margin: 0;
					line-height: 1;

					a {
						font-weight: 700;
						font-size: 38px;
						color: $skar-purple;
					}

					&:first-of-type {
						
						a {
							color: $skar-gray;
						}
					}
				}
			}
		}

		&.work-three {
			background: #bcbec0;

			@media only screen and (max-width: 991px) {
				height: 100%;
			}

			.work-four-wrapper {
				padding: 4.5em 1em 4.5em;
				max-width: 440px;
				float: none;
				margin: 0 auto;

				h1 {
					margin: 0;
					line-height: 1;
					font-size: 38px;
					
					a {
						font-weight: 700;
						color: $skar-purple;
						line-height: 1;
					}

					&:first-of-type {
						a {
							color: $skar-gray;
						}
					}

					@include MQ(L) {
						padding-bottom: 0;
					}
				}

				.blog-post-excerpt {
					margin-top: 2em;
					padding: 0;

					p {
						font-size: 14px;
						font-weight: 300;
						line-height: 1.2;
						color: $skar-gray;
					}

					@include MQ(M) {
						margin-top: 1em;

						p {
							font-size: 16px;
						}
					}

					@include MQ(LL) {
						margin-top: 3em;
					}
				}
			}

			&:first-of-type {
				background:rgba(188, 190, 192, 0.6)
			}
		}

		&.work-five {
			height: 550px;
			background-color: #ffd24f;

			.work-five-content {
				padding: 2em;

				@include MQ(M) {
					padding: 3em;
				}

				h1 {
					margin: 0;
					font-size: 38px;
					line-height: 1.11;
				
					a {
						color: #fff;
						font-weight: 700;
						
						padding: 4px;
					}
				}
			}
		}
	}
}

.more-posts {
	margin: 3em 0;

	div {
		text-align: center;

		a {
			font-size: 28px;
			font-weight: 700;
			color: #5c006e;
		}

		@include MQ(M) {

			&:first-of-type {
				border-right: 3px solid #5c006e;
				text-align: right;

				a {
					float: right;
				}
			}

			&:last-of-type {
				text-align: left;
			}
		}
	}
}

body.nonprofit, body.health-care, body.retail {

	.industry-featured-work-container .work-wrapper.work-two {
		background: #ffd24f;
	}
}

body.finance {
	.industry-featured-work-container .work-wrapper.work-two {
		background: #fff;
	}
}
