.industry-boxes-2-container {
	//display: -webkit-flex; /* Safari */
	//-webkit-flex-wrap: wrap !important; /* Safari 6.1+ */
    //display: flex;   
    //flex-wrap: wrap;
    //@include flex-direction(row);
    //@include display(flex);
	//@include flex-wrap(wrap);
	display: flex;
	flex-wrap: wrap;
	display: -webkit-flex;
	-webkit-flex-wrap: wrap;
	width: 1600px;
	max-width: 100%;
	margin-top: 1em;
	margin-bottom: 1em;

	.industry-box {
		width: 290px;
		float: none;
		margin: 1.5em auto;
		padding: 8px;
		border: 1px solid #98c44e;
		display: table;

		.img-wrapper {
			padding: 0;

			a {
				display: block;
			}
		}

		.content-wrapper {
			position: relative;
			display: block;
			

			.this-industry-title {
				padding: 0;

				a {
					display: block;

					p {
						font-weight: 300;
						font-size: 25px;
						color: $skar-gray;
						text-align: center;
						margin: 5px 0 0 0;
						border-bottom: 1px solid #98c44e;
					}
				}
			}

			.tagline {
				margin-top: 5px;
				padding: 0;

				p {
					font-size: 12px;
					font-weight: 300;
					color: $skar-gray;
					margin: 0;
					text-align: center;
				}
			}
		}
	}
}