.section-2-div-3 {
	position: relative;
	padding: 0;
//	padding-top: 40px;
	width: 100%;
	max-width: 1581px;
  margin: 0 auto;

	.industry-row {
  		position: relative;
  		width: calc(100% - 20px);
  		float: none;
      height: 100%;
      display: -webkit-flex; /* Safari */
      -webkit-flex-wrap: wrap; /* Safari 6.1+ */
      display: flex;   
      flex-wrap: wrap;

  		.industry-wrapper {
    		position: relative;
    		float: none;
    		margin: 10px auto;
   	  /*	max-width: 290px;
    		min-width: 290px;
    		min-height: 110px;
    		max-height: 110px;*/
    		border: 1px solid #98c44e;
    		padding: 8px;
    		margin-top: 15px;
    		background: #fff;

    		@media only screen and (min-width: 400px) {
      			/*max-width: 190px;
      			min-width: 190px;
      			min-height: 140px;
      			max-height: 140px;*/
            width: 190px;
            height: 140px
    		}

        @include MQ(M) {
          margin-top: 20px;
        }

    		@media only screen and (min-width: 885px) {
      			/*max-width: 290px;
      			min-width: 290px;
      			min-height: 110px;
      			max-height: 110px;*/
            width: 290px;
            height: 110px;
    		}

    		.row {
    			margin: 0;
    			@include display(flex);

        		.img-content, .text-content {
              display: block;
          		position: relative;
          		float: left;
        
          		@media screen and (max-width:884px) {
            			img {
                    position: relative;
                    display: block;
                    max-width: 100%;
                    height: auto;
                  }
          		}
        		}

            .img-content {
              height: 100%;
              @include transform(translateY(0));

              @media only screen and (min-width: 400px) {
                @include transform(translateY(50%));
              }

              @media screen and (min-width:885px) {
                @include transform(translateY(0));
              }
            }

        		.text-content {
          		padding: 0 0 0 8px;

          		p {
            			position: relative;
            			color: #58595b;
            			font-family: 'gotham', Helvetica, sans-serif;
            			font-weight: 300;
            			line-height: 1;
          		
          			&:nth-of-type(1) {
          				  font-size: 25px;
            				border-bottom: 1px solid #98c44e;
            				padding-bottom: 2px;
          			}

          			&:nth-of-type(n+2) {
          				font-size: 12px;
                  text-align: center;
                  margin-bottom: 0;
          			}
          		}
        		}
    		}
  		}
	}

 /* @media only screen and (min-width: 992px) {
    	position: absolute;
    	bottom: 100px;
    	left: 0;
    	right: 0;
    	padding-top: 0;
  }

  @media only screen and (min-width: 992px) and (max-width: 1168px) {
    	bottom: 20px;
  }*/
}

body.page-template-template-what-we-do {
  
  .section-2-div-3 {

    @media only screen and (min-width: 992px) {
      position: relative;
      bottom: 0;
      margin-bottom: 3em; 
    }
  }
}

