.services-wrapper {
	margin-top: 3em;
	margin-bottom: 3em;
	width: 100%;

	@media only screen and (min-width: 1200px) {
		width: 1170px;
	}

	.services-label {
		margin-bottom: 1.5em;
		
		span {
			color: #939598;
			font-size: 14px;
			font-weight: 700;

			@include MQ(M) {
				font-size: 18px;
			}
		}
	}

	.row {
		display: flex;
		flex-wrap: wrap;
		display: -webkit-flex;
		-webkit-flex-wrap: wrap;

		.service {
			margin-bottom: 2em;
			margin-left: auto;
			margin-right: auto;
			max-width: 375px;

			@media only screen and (min-width: 414px) {
				max-width: 400px;
			}

			@include MQ(M) {
				width: calc(33.3333333333% - 30px);
				padding: 0;
				border: 1px solid $skar-green;
			}

			.service-container {
				border: 1px solid $skar-green;
				height: 100%;
				display: flex;
				display: -webkit-flex;
				padding: 0;
				float: none;

				@include MQ(M) {
					border: none;
				}

				.service-content, .service-square {
					padding: 0;
					margin: 8px;
				}

				.service-square {

					img {
						max-width: 100%;
						height: auto;
						max-height: 100%;
						@include vertical-align();
						position: absolute;
					}
				}

				.service-content {
					display: flex;
					flex-direction: column;
					justify-content: center;
					display: -webkit-flex;
					-webkit-flex-direction: column;
					-webkit-justify-content: center;

					p {
						font-weight: 300;
						font-size: 12px;
						color: #58595b;
						line-height: 1.2;
						margin-bottom: 0;

						&:nth-of-type(1) {
							text-align: center;
							font-size: 25px;
							border-bottom: 1px solid $skar-green;
							line-height: 1;
							margin-bottom: 10px;
						}
					}
				}
			}
		}
	}
}