.single-industry-container {
	padding: 0;

	.single-industry-section {
		position: relative;
		height: 100%;

		&.one {

			.row {

				ul#scene {
					overflow: hidden;
					list-style-type: none;
					padding: 0;
					margin-bottom: 0;

					li.layer {
						margin-left: -21px;
						
						img {
							width: calc(100vw + 21px);
							height: auto;
						}
					}
				}

				.scroll-down-container {
					position: absolute;
					left: 0;
					right: 0;
					bottom: 8%;
					width: 50px;
					margin: 0 auto;
					display: none;

					.scroll-down {
						position: relative;
						display: inline-block;
						margin: 0 auto;
						z-index: 1;
					}

					@include MQ(L) {
						display: block;
					}
				}
			}

			.section-one-content-container {
				position: relative;
				left: 0;
				bottom: 0;

				@include MQ(L) {
					position: absolute;
				}

				.section-one-content-wrapper {

					.industry-title {

						h1 {
							color: #a7a9ac;
							text-transform: uppercase;
							font-size: 45px;
							font-weight: 700;
							margin-top: 0;
							float: none;
							text-align: center;

							@include MQ(M) {
								float: right;
							}
						}
					}

					.industry-content {
						padding-right: 15px;

						@include MQ(M) {
							padding-right: 45px;
						}

						p {
							float: left;
							color: #a7a9ac;
							font-size: 14px;
							font-weight: 300;
							line-height: 1.2;
							margin-bottom: 1.5em;

							@include MQ(M) {
								font-size: 16px;
							}

							@include MQ(L) {
								color: #fff;
							}

							&:last-of-type {
								margin-right: 2em;		
							}
						}

						.airplane {
					    	width: 65px;
					    	height: 65px;
					    	background: #98c44e;
					    	position: relative;
					    	display: inline-block;
					    	display: -webkit-inline-block;
					    	margin-bottom: 1.5em;

					    	img {
					    		margin: 0 auto;
					    		width: 80%;
					    		left: 0;
					    		right: 0;
					    		top: 50%;
					    		@include transform(translateY(-50%));
					    		position: absolute;
					    	}
					    }
					}
				}
			}
		}

		&.two {
			
		}
	}
}

body.finance {

	.single-industry-container .single-industry-section.one .row ul#scene {
		margin-top: -4.3%;
	}
	
	.single-industry-container .single-industry-section.one .section-one-content-container {

		bottom: 10%;
		
		@media only screen and (max-width: 991px) {
			top: 2em;
		}

		.empty-section {
			display: none;

			@include MQ(L) {
				display: block;
			}
		}

		.section-one-content-wrapper {
			width: 100%;
		
			@include MQ(L) {
				width: 50%;
			}

			.industry-title, .industry-content {

				@media only screen and (max-width: 767px) {
					width: 100%;
				}
			}

			.industry-title {

				h1 {
					@media only screen and (max-width: 767px) {
						text-align: center;
					}
 				}
			}

			.industry-content {

				@media only screen and (min-width: 992px) and (max-width: 1010px) {
					padding-right: 15px;
				}

				p {

					@media only screen and (min-width: 992px) and (max-width: 1920px) {
						background: rgba(29, 19, 21, 0.25);
						padding: 10px;
					}
				}
			}
		}
	}
}

body.nonprofit, body.retail {

	.single-industry-container .single-industry-section.one .section-one-content-container {
		top: 2em;

		.empty-section {
			display: none;
		}

		.section-one-content-wrapper {
			width: 100%;
		}
	}
}

body.regional-brands {

	.single-industry-container .single-industry-section.one .row ul#scene li.layer {

		&:nth-of-type(2) {
			margin-top: 5px;

			img {
				width: calc(100vw + 30px);
			}
		}

		&:last-of-type {
			margin-top: 10px;
		}
	}

	.single-industry-container .single-industry-section.one .section-one-content-container {
		top: 2em;
		width: 100%;

		.section-one-content-wrapper {
			
			width: 100%;

			@include MQ(L) {
				width: 50%;
			}

			.industry-title { 

				h1 {
					text-align: center;
					color: #593171;
					float: none;

					@include MQ(M) {
						text-align: left;
						float: right;
					}

					&::first-line {
						color: #58595b;
					}
				}
			}

			.industry-content {
				max-width: 800px;

				@include MQ(L) {
					padding-right: 58px;
				}

				p {
					color: #58595b;
					font-weight: 300;

					@media only screen and (min-width: 992px) and (max-width: 1440px) {
						background: rgba(29, 19, 21, 0.15);
						color: #fff;
						padding: 10px;
					}
				}
			}
		}
	}
}

body.nonprofit {

	.single-industry-container .single-industry-section.one .row ul#scene li.layer {
		margin-left: -14px;
	}


	.single-industry-container .single-industry-section.one .section-one-content-container .section-one-content-wrapper {
		.industry-title {
			width: 100%;

			@include MQ(M) {
				width: 25%;
			}

			h1 {
				text-align: center;
				color: #593171;
				float: none;

				@include MQ(M) {
					text-align: left;
				}

				@include MQ(L) {
					text-align: right;
				}

				&::first-line {
					color: #58595b;
				}
			}
		}

		.industry-content {
			width: 100%;
			max-width: 800px;

			@include MQ(M) {
				width: 65%;
			}

			p {
				color: #58595b;
				font-weight: 300;

				@media only screen and (min-width: 992px) and (max-width: 1485px) {
					background: rgba(29, 19, 21, 0.25);
					color: #fff;
					padding: 10px;
				}
			}
		}
	}
}

body.retail { 

	.single-industry-container .single-industry-section.one .row ul#scene li.layer {
		margin-left: -14px;
	}

	.single-industry-container .single-industry-section.one .section-one-content-container .section-one-content-wrapper {

		.industry-title {
			width: 100%;

			@include MQ(M) {
				width: 25%;
			}

			h1 {
				text-align: center;
				color: #593171;
				float: none;

				@include MQ(M) {
					text-align: right;
				}
			}
		}

		.industry-content {
			width: 100%;
			max-width: 800px;

			@include MQ(M) {
				width: 65%;

				h1 {
					text-align: right;
				}
			}

			p {
				color: #58595b;
				font-weight: 300;
			}
		}
	}
}

body.health-care {

	.single-industry-container .single-industry-section.one .row ul#scene li.layer {

		&:nth-of-type(3) {
			margin-top: 10px;
		}
		
		&:last-of-type {
			margin-top: -8px;

			img {
				width: calc(100vw + 50px);
				height: auto;
			}
		}
	}

	.single-industry-container .single-industry-section.one .section-one-content-container {
		top: 2em;

		.empty-section {
			width: 0;

			@include MQ(M) {
				width: 25%;
			}

			@include MQ(L) {
				width: 45%;
			}
		}

		.section-one-content-wrapper  {

			@include MQ(M) {
				width: 75%;
			}

			@include MQ(L) {
				width: 50%;
			}

			.industry-title {
				width: 100%;

				@include MQ(M) {
					width: 33.333%;
				}

				@include MQ(L) {
					width: 25%;
				}

				h1 {
					text-align: center;
					color: #593171;
					background: none;

					@include MQ(M) {
						text-align: left;
					}

					@media only screen and (min-width: 992px) and (max-width: 1450px) {
						background: rgba(255, 255, 255, .6);
					}

					&::first-line {
						color: #58595b;
					}
				}
			}

			.industry-content {
				width: 100%;

				@include MQ(M) {
					width: 66.667%;
					padding-right: 15px;
				}

				@include MQ(L) {
					width: 75%;
				}

				@media only screen and (min-width: 992px) and (max-width: 1460px) {
					background: rgba(29, 19, 21, 0.4);
					
					p {
						margin: 0;
						padding: 10px 0;
					}
				}
			}
		}
	}
}