.single-industry-container {
	padding: 0;

	.single-industry-section {
		position: relative;

		&.one {

			.row {

				ul#scene {
					list-style-type: none;
					padding: 0;
					margin-bottom: 0;

					li.layer {
						margin-left: -21px;
						
						img {
							width: calc(100vw + 21px);
							height: auto;
						}
					}
				}
			}

			.section-one-content-container {
				position: absolute;
				left: 0;
				bottom: 0;

				.section-one-content-wrapper {

					.industry-title {

						h1 {
							color: #a7a9ac;
							text-transform: uppercase;
							font-size: 45px;
							font-weight: 700;
							margin-top: 0;
							float: none;
							text-align: center;

							@include MQ(M) {
								float: right;
							}
						}
					}

					.industry-content {

						p {
							color: #fff;
							font-size: 14px;
							font-weight: 200;
							line-height: 1.2;
							margin-bottom: 1.5em;

							@include MQ(M) {
								font-size: 18px;
							}
						}
					}
				}
			}
		}

		&.two {

			
		}
	}
}

body.nonprofit, body.retail {

	.single-industry-container .single-industry-section.one .section-one-content-container {
		top: 2em;

		.empty-section {
			display: none;
		}

		.section-one-content-wrapper {
			width: 100%;
		}
	}
}

body.regional-brands {

	.single-industry-container .single-industry-section.one .section-one-content-container {
		top: 2em;
		
		.empty-section {
			display: none;
		}

		.section-one-content-wrapper {
			
			float: right;
			width: 100%;

			@include MQ(M) {
				width: 75%;
			}

			@include MQ(LL) {
				width: 60%;
			}

			.industry-title { 

				h1 {
					text-align: left;
					color: #593171;
					float: right;

					&::first-line {
						color: #58595b;
					}
					
				}
			}

			.industry-content {
				max-width: 800px;

				p {
					color: #58595b;
					font-weight: 300;
				}
			}
		}
	}

}

body.nonprofit {
	.single-industry-container .single-industry-section.one .section-one-content-container .section-one-content-wrapper {
		.industry-title {
			width: 100%;

			@include MQ(MS) {
				width: 40%
			}

			@include MQ(M) {
				width: 25%;
			}

			h1 {
				text-align: left;
				color: #593171;
				float: none;

				&::first-line {
					color: #58595b;
				}
				
			}
		}

		.industry-content {
			width: 100%;
			max-width: 800px;

			@include MQ(MS) {
				width: 50%
			}

			@include MQ(M) {
				width: 65%;
			}

			p {
				color: #58595b;
				font-weight: 300;
			}
		}
	}
}

body.retail { 
	.single-industry-container .single-industry-section.one .section-one-content-container .section-one-content-wrapper {

		.industry-title {
			width: 100%;

			@include MQ(MS) {
				width: 40%
			}

			@include MQ(M) {
				width: 25%;
			}

			h1 {
				text-align: left;
				color: #593171;
				float: right;
			}
		}

		.industry-content {
			width: 100%;
			max-width: 800px;

			@include MQ(MS) {
				width: 50%
			}

			@include MQ(M) {
				width: 65%;
			}

			p {
				color: #58595b;
				font-weight: 300;
			}
		}
	}
}

body.health-care {
	.single-industry-container .single-industry-section.one .section-one-content-container {
		top: 2em;

		.section-one-content-wrapper  {

			.industry-title {

				h1 {
					text-align: left;
					color: #593171;

					&::first-line {
						color: #58595b;
					}
				}
			}
		}
	}
}