.skar-content {
	height: 100%;
	background: #fff;

	.case-history, .recent-article, .featured-work, .recent-posts {
		padding: 0;
		height: 100%;

		.inner-content {
			position: relative;
			margin: 2em auto;
			padding: 15px;
			max-width: 430px;
			height: 100%;

			@include MQ(L) {
				height: 480px;
			}

			div:nth-of-type(1) {

				p {
					font-family: 'gotham', Helvetica, sans-serif;
					line-height: 1;

					&:nth-of-type(1) {
						font-size: 18px;
						text-transform: uppercase;
						font-weight: 700;
					}
				}

				.inner-content-title {

					p {
						font-size: 38px;
						font-weight: 700;
						text-transform: none;
					}
				}
			}

			div:nth-of-type(2) {

				p {
					font-family: 'gotham', Helvetica, sans-serif;
					line-height: 1.2;
					font-size: 14px;
					font-weight: 300;
					color: #58595b;
				}

				@include MQ(L) {
					margin-top: 40px;

					p {
						font-size: 16px;
					}
				}
			}

 			div:nth-of-type(3) {
				position: relative;
				bottom: 0;
				left: 0;
				right: 0;
				text-align: center;

				@include MQ(L) {
					position: absolute;
				}

				span {

					#alt-arrow {
						@include transform(rotate(270deg));
							width: 50px;
					}
				}
			}
		}
 	}

	.case-history {
		background: #e6e7e8;

		.inner-content {

			div:nth-of-type(1) {

				p:nth-of-type(1) {
					color: #d1d3d4;
				}

				.inner-content-title {

					p {

						span:nth-of-type(1) {
							a {
								color: #58595b;
							}
						}

						span:nth-of-type(2) {
							display: block;

							a {
								color: $skar-green;
							}
						}
					}
				}
			}

			div:nth-of-type(2) {}

			div:nth-of-type(3) {

				span {

					#alt-arrow {
						width: 50px;

						.cls-1 {
							fill: $skar-green;
						}
					}
				}
			}
		}
	}

	.recent-article {
		background: #a7a9ac;

		.inner-content {

			div:nth-of-type(1) {

				p:nth-of-type(1) {
					color: #939598;
				}

				.inner-content-title {

					a {

						p {
							color: #593171;

							&::first-line {
								color: #58595b;
							}
						}
					}
				}
			}

			div:nth-of-type(3) {

				span {

					#alt-arrow {

						.cls-1 {
							fill: #593170;
						}
					}
				}
			}
		}
	}

	.featured-work {
		background-size: cover;

		.inner-content {

			div:nth-of-type(1) {

				p:nth-of-type(1) {
					color: #58595b;
				}

				.inner-content-title {

					p {

						a {

							span:nth-of-type(1) {
								color: #fff;
							}

							span:nth-of-type(2) {
								color: $skar-green;
							}
						}
					}
				}
			}
			
			div:nth-of-type(3) {}
		}
	}

	.recent-posts {

		.inner-content {
			max-width: 425px;

			div:nth-of-type(1) {

				p:nth-of-type(1) {
					color: #939598;
				}

				.inner-content-title {

					a {

						p {
							color: #593171;

							&::first-line {
								color: #58595b;
							}
						}
					}
				}
			}

			div:nth-of-type(3) {

				span {

					#alt-arrow {

						.cls-1 {
							fill: #593170;
						}
					}
				}
			}
		}

		&:nth-of-type(1) {
			background: #a7a9ac;
		}

		&:nth-of-type(2) {
			background: #e6e7e8;
		}

		&:nth-of-type(3) {
			background: #fff;
		}
	}
}

