body.page-template-template-what-we-do {
	position: relative;
	height: 100%;
	width: 100%;
	
	.what-we-do-container {
		position: relative;
		height: 100%;
		width: 100%;

		.what-we-do-section {
			position: relative;
			padding: 0;
			width: 100%;
			height: 100%;

			&.one {
				height: 100%;
				overflow: hidden;

				@include MQ(L) {
					height: 100%;
					min-height: 600px;

				}
				
				.image-layers {
					position: relative;
					top: 0;
					left: 0;

					ul {
						padding: 0;

						li {

							img {
								width: calc(100% + 200px);

								@media only screen and (max-width: 991px) {
									width: 100%;
									height: auto;
								}
							}
						}
					}

					.scroll-down-container {
						position: absolute;
						left: 0;
						right: 0;
						bottom: 50px;
						width: 50px;
						margin: 0 auto;
						display: none;

						.scroll-down {
							position: relative;
							display: inline-block;
							margin: 0 auto;
						}

						@include MQ(L) {
							display: block;
						}
					}
				}

				.row-eq-height {
					margin-top: 2em;

					@include MQ(L) {
						position: absolute;
						top: 10em;
						left: 0;
					}

					.section-1-div-1, .section-1-div-2 {
						max-width: 100%;
						margin: 0 auto;
						float: none;

						@include MQ(MS) {
							max-width: 66.667%
						}

						@include MQ(L) {
							float: left;
						}
					}

					.section-1-div-1 {
						 //background: linear-gradient(rgba(255,255,255, 0.15), rgba(255,255,255, 0.15)), rgba(255,255,255,0.15);

						p {
							font-size: 30px;
							font-weight: 500;
							text-transform: uppercase;
							line-height: 1;
							text-align: center;

							@include MQ(L) {
								text-align: left;
							}

							&:nth-of-type(1) {
								color: #939598;

								@include MQ(L) {
									color: #fff;
									mix-blend-mode: difference;
								}
							}

							&:nth-of-type(2) {
								color: #593171;
							}
						}

						.section-1-div-1-overlay {
							position: absolute;
							top: 0;
							right: 0;
							bottom: 0;
							left: 0;
							background: #fff;
							opacity: 0.5;
							display: none;
						}
					}

					.section-1-div-2 {

						p {
							font-weight: 300;
							font-size: 14px;
							color: #939598;
							padding: 0 1em;
							line-height: 1.2;

							@include MQ(L) {
								font-size: 16px;
								color: #fff;
							}
						}
					}
				}
			}

			&.two {

				.two-top {

					.work-label-container {

						div {
							display: -webkit-flex; /* Safari */
							-webkit-flex-wrap: wrap; /* Safari 6.1+ */
						    display: flex;   
						    flex-wrap: wrap;
						    max-width: 1600px;
						    float: none;
						    margin: 0 auto;

							span {
								color: #939598;
								font-size: 14px;
								font-weight: 700;

								@media only screen and (min-width: 560px) {
									font-size: 18px;
								}
							}

							.work_nav {
								list-style-type: none;
								padding: 0;
								margin-left: 1.5em;

								li {
									display: inline-block;
									font-size: 14px;
									font-weight: 300;
									
									a {
										color: $skar-purple; 
									}

									@media only screen and (min-width: 560px) {
										font-size: 18px;
									}

									&:last-of-type {

										span {
											display: none;
										}
									}
								}
							}
						}
					}
				}

				.work-container {
					width: 100%;
					height: calc(100% - 372px);

					@media only screen and (min-width: 1425px) {
						height: calc(100% - 232px;
					}

					.work-one, .work-two, .work-three-sm, .work-three-lg, .work-four, .work-five {
						//height: 50%;
						height: 100%;

						.inner-content {
							height: 480px;

							.content-container {
								position: relative;
								margin: 10em 4em 0 4em;
								max-width: 400px;

								p {
									font-size: 40px;
									font-weight: 700;
									line-height: 1;

									span:nth-of-type(1) {
										color: #fff;
									}

									span:nth-of-type(2) {
										color: $skar-green;
									}

									@include MQ(M) {
										//font-size: 49px;
									}
								}

								@include MQ(L) {
									margin-top: 4em;

									p {
										font-size: 3.5vmin;
									}
								}
							}

							 .campaign-link {
								position: absolute;
								bottom: 4em;
								left: 0;
								right: 0;
								text-align: center;

	            				#alt-arrow {
	              					@include transform(rotate(270deg));
	              					width: 50px;
	            				}
	          				}

							/*@include MQ(L) {
								height: 100%;
							}*/
						}
					}

					.work-one {
						//background: url('/wp-content/uploads/2016/05/featured-img-paceholder-01.jpg') center no-repeat;
						background-size: cover;
					}

					.work-two {
						//background: url('/wp-content/uploads/2016/05/ne-lottery-benificiary.jpg') center no-repeat;
						background-size: cover;
					}

					.work-three-sm {
						//background: url('/wp-content/uploads/2016/05/orville.jpg') 25% no-repeat;
						background-size: cover;

						@include MQ(L) {
							display: none;
						}
					}

					.work-three-lg {
						//background: url('/wp-content/uploads/2016/05/orville.jpg') 25% no-repeat;
						background-size: cover;
						display: none;

						@include MQ(L) {
							display: block;
						}
					}

					.work-four {
						//background: url('/wp-content/uploads/2016/05/WERNER-CONCEPT-3-1.jpg') center no-repeat;
						background-size: cover;

						.inner-content {
							.content-container {
								p:nth-of-type(2) {
									color: $skar-gray;
								}
							}
						}
					}

					.work-five {
						//background: url('/wp-content/uploads/2016/05/centris-site.jpg') center no-repeat;
						background-size: cover;
					}
				}
			}

			&.three {
				
			}

			/*@include MQ(L) {
				height: 100vh;
			}*/
		}
	}
}